@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.Wrapper {
  color: white;
  height: 100%;
  padding-bottom: 25px;
}

.Heading {
  margin: 10px;
  display: flex;
  align-items: center;
}

.IconToday {
  height: 6vw;
  width: 7vw;
  font-size: 4vw;
  position: relative;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    top: -0.9vw;
    left: 0.3vw;
    background: url('../../assets/svg/calendar.svg') no-repeat left top;
    background-size: cover;
  }
}

.Title {
  font: $f-robotoRegularLarge;
  display: inline-block;
  margin-left: 10px;
}

.Entries {
  margin: 0 8px;
}

.Entry {
  background: rgba($c-white, 0.1);
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:first-of-type {
    margin-bottom: 6px;
  }
  &:last-of-type {
    margin-top: 6px;
  }
}

.Hour {
  display: inline-block;
  margin-bottom: 11px;
  padding-left: 4vw;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 3vw;
    width: 3vw;
    left: 0;
    background: url('../../assets/svg/clock.svg') no-repeat left top;
    background-size: cover;
  }
}

.Participants {
  list-style: none;
  display: flex;
  float: right;
  margin-right: 6px;
  align-items: center;
}

.Participant {
  display: inline-block;
  height: 3vw;
  width: 3vw;
  background-size: cover;
  border-radius: 50%;
  margin-left: 5px;
}

.LeftParticipants {
  display: inline-block;
  opacity: 0.5;
  margin-right: 2px;
  font-size: 2.2vw;
}

.EventName {
  display: block;
}

.Daily {
  border-left: 1px solid $c-lightGreen;
}

.Urgent {
  border-left: 1px solid $c-red;
}

.Normal {
  border-left: 1px solid $c-lightOrange;
}