/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Wrapper {
  color: #FFFFFF;
  margin: 0 8px;
  height: 483px; }
  @media (max-width: 520px) {
    .Wrapper {
      height: 167px; } }

.Line {
  fill: none;
  stroke: #FCAB53;
  stroke-width: 1px; }

.Dot {
  fill: #FCAB53; }

.Axis path {
  display: none; }

.Axis text {
  fill: white; }

.Axis:first-of-type line {
  display: none; }

.Heading {
  margin-top: 10px;
  margin-bottom: 15px; }
  .Heading span {
    display: inline-block;
    font-size: 5.5vw; }

.HeadingIcon {
  height: 5vw;
  width: 5vw;
  background: url("../../assets/svg/moneyIcon.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  top: 5px;
  left: 2px;
  margin-right: 8px; }
