@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.Wrapper {
  color: $c-white;
  margin: 0 8px;
  height: 483px;
  @include bp(phone) {
    height: 167px;
  }
}

.Line {
  fill: none;
  stroke: $c-lightOrange;
  stroke-width: 1px;
}

.Dot {
  fill: $c-lightOrange;
}

.Axis {
  path{
    display: none;
  }
  text {
    fill: white;
  }
}

.Axis:first-of-type {
  line {
    display: none;
  }
}

.Heading {
  margin-top: 10px;
  margin-bottom: 15px;
  span {
    display: inline-block;
    font-size: 5.5vw;
  }
}

.HeadingIcon {
  height: 5vw;
  width: 5vw;
  background: url('../../assets/svg/moneyIcon.svg') no-repeat center center;
  background-size: cover;
  position: relative;
  top: 5px;
  left: 2px;
  margin-right: 8px;
}