/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Wrapper {
  color: white;
  margin: 0 8px;
  padding-bottom: 30px; }

.Heading {
  margin-top: 10px;
  margin-bottom: 15px; }
  .Heading span {
    display: inline-block;
    font-size: 7vw; }

.HeadingIcon {
  height: 5vw;
  width: 5vw;
  background: url("../../assets/svg/checkIcon.svg") no-repeat center center;
  background-size: cover;
  margin-right: 5px;
  top: 2px;
  position: relative; }

.TodoItem {
  display: flex;
  align-items: center;
  padding: 2.1vw 0;
  border-bottom: 1px solid #509A9B; }
  .TodoItem:first-of-type {
    padding-top: 0; }
  .TodoItem:last-of-type {
    padding-bottom: 0;
    border: none; }
  @media (max-width: 520px) {
    .TodoItem {
      padding: 3.6vw 0; } }

.CheckInput {
  width: 5vw;
  height: 5vw;
  margin-right: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block; }

.TodoTask {
  position: relative; }
  .TodoTask:after {
    position: absolute;
    content: '';
    left: 0;
    top: 2vw;
    width: 100%;
    height: 1px;
    background-color: #FCAB53;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.isChecked span:first-of-type {
  background-color: #FCAB53; }
  .isChecked span:first-of-type:before {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    background: url("../../assets/svg/singleTick.svg") no-repeat center center;
    background-size: 60%; }

.isChecked span:last-of-type {
  opacity: 0.5; }
  .isChecked span:last-of-type:after {
    content: '';
    position: absolute;
    transform: scaleX(1); }
