@import 'sass/helpers/reset';
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  font: $f-robotoThinSmall;
}

.Grid {
  @include gradient(top, $gradient-blue);
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.GridItem {
  border-radius: 10px;
  width: 48.91vw;
}

.GridItemLarge {
  border-radius: 10px;
  width: 99.79vw;
  overflow: hidden;
}

.ItemGreen {
  @include gradient(top, $gradient-green);
}

.ItemOrange {
  @include gradient(top, $gradient-orange);
}

.DisableWidgetManagement {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: $c-red;
  font-size: 4vw;
  color: $c-white;
  height: 10vw;
  z-index: 98;
  transition: transform 0.7s $easeOutCubic;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150%);
}

.DisableWidgetManagementActive {
  transform: translateY(0%);
}