/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
html, body {
  overflow-x: hidden;
  min-height: 100vh;
  font: normal 100 3vw "Roboto", sans-serif; }

.Grid {
  background: -webkit-linear-gradient(top, #012741 0%, #005A8E 100%);
  background: -moz-linear-gradient(top, #012741 0%, #005A8E 100%);
  background: -o-linear-gradient(top, #012741 0%, #005A8E 100%);
  background: linear-gradient(top, #012741 0%, #005A8E 100%);
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px; }

.GridItem {
  border-radius: 10px;
  width: 48.91vw; }

.GridItemLarge {
  border-radius: 10px;
  width: 99.79vw;
  overflow: hidden; }

.ItemGreen {
  background: -webkit-linear-gradient(top, #459497 0%, #2A8683 100%);
  background: -moz-linear-gradient(top, #459497 0%, #2A8683 100%);
  background: -o-linear-gradient(top, #459497 0%, #2A8683 100%);
  background: linear-gradient(top, #459497 0%, #2A8683 100%); }

.ItemOrange {
  background: -webkit-linear-gradient(top, #B38A0D 0%, #B35C0E 100%);
  background: -moz-linear-gradient(top, #B38A0D 0%, #B35C0E 100%);
  background: -o-linear-gradient(top, #B38A0D 0%, #B35C0E 100%);
  background: linear-gradient(top, #B38A0D 0%, #B35C0E 100%); }

.DisableWidgetManagement {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #FF3365;
  font-size: 4vw;
  color: #FFFFFF;
  height: 10vw;
  z-index: 98;
  transition: transform 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150%); }

.DisableWidgetManagementActive {
  transform: translateY(0%); }
